<phpunit
    bootstrap="tests/bootstrap.php"
    colors="true"
    verbose="true"
>
    <!-- tests directories to run -->
    <testsuites>
        <testsuite>
            <directory>tests</directory>
            <directory>packages/*/tests</directory>
        </testsuite>
    </testsuites>
</phpunit>
