services:
    _defaults:
        public: true
        autowire: true

    Symplify\EasyCodingStandard\FixerRunner\:
        resource: '..'
        exclude: '../{Exception}'

    # differ
    PhpCsFixer\Differ\UnifiedDiffer: ~

    Symplify\EasyCodingStandard\FixerRunner\Application\FixerFileProcessor:

    PhpCsFixer\WhitespacesFixerConfig:
        factory: ['@Symplify\EasyCodingStandard\FixerRunner\WhitespacesFixerConfigFactory', 'create']
