application:
    scanComposer: false


extensions:
    - Symplify\EasyCodingStandard\DI\EasyCodingStandardExtension
    - Symplify\EasyCodingStandard\FixerRunner\DI\FixerRunnerExtension
    - Symplify\EasyCodingStandard\SniffRunner\DI\SniffRunnerExtension
