application:
    scanComposer: false


extensions:
    - Symplify\EasyCodingStandard\DI\MultiCodingStandardExtension
    - Symplify\EasyCodingStandard\RuleRunner\DI\RuleRunnerExtension
    - Symplify\EasyCodingStandard\SniffRunner\DI\SniffRunnerExtension
