# Application
- Symplify\EasyCodingStandard\Application\ApplicationRunner

# Configuration
- Symplify\EasyCodingStandard\Configuration\ConfigurationFileLoader
- Symplify\EasyCodingStandard\Configuration\ConfigurationNormalizer
- Symplify\EasyCodingStandard\Finder\SourceFinder
- Symplify\EasyCodingStandard\Skipper

# Console & Commands
- Symfony\Component\Console\Application
- Symplify\EasyCodingStandard\Console\Command\RunCommand
- Symfony\Component\Console\Terminal

# Symfony Output style
- Symplify\EasyCodingStandard\Console\Style\EasyCodingStandardStyle
- Symplify\EasyCodingStandard\Console\Style\SymfonyStyleFactory
- Symfony\Component\Console\Input\ArgvInput
- Symfony\Component\Console\Output\ConsoleOutput

# Reporting
- Symplify\EasyCodingStandard\Console\Output\InfoMessagePrinter
- Symplify\EasyCodingStandard\Error\ErrorSorter
- Symplify\EasyCodingStandard\Error\ErrorCollector
- Symplify\EasyCodingStandard\Error\ErrorFilter
