# Application
- Symplify\EasyCodingStandard\Application\Application

# Configuration
- Symplify\EasyCodingStandard\Finder\SourceFinder
- Symplify\EasyCodingStandard\Skipper
- Symplify\EasyCodingStandard\Validator\CheckerTypeValidator

# Console & Commands
- Symplify\EasyCodingStandard\Console\Command\CheckCommand

# Symfony Output style
- Symfony\Component\Console\Terminal
- Symplify\EasyCodingStandard\Console\Style\EasyCodingStandardStyle
- Symplify\EasyCodingStandard\Console\Style\SymfonyStyleFactory
- Symfony\Component\Console\Input\ArgvInput
- Symfony\Component\Console\Output\ConsoleOutput

# Reporting
- Symplify\EasyCodingStandard\Console\Output\InfoMessagePrinter
- Symplify\EasyCodingStandard\Error\ErrorSorter
- Symplify\EasyCodingStandard\Error\ErrorCollector
