checkers:
    # remove redundant lines in phpdocs
    - Symplify\CodingStandard\Fixer\Commenting\RemoveUselessDocBlockFixer

    # remove empty spaces in phpdoc
    - PhpCsFixer\Fixer\Comment\NoTrailingWhitespaceInCommentFixer

    # remove empty lines in phpdoc (be carefull, can be buggy)
    - PhpCsFixer\Fixer\Phpdoc\PhpdocTrimFixer

    # remove empty phpdocs
    - Symplify\CodingStandard\Fixer\Commenting\RemoveEmptyDocBlockFixer
