checkers:
    # use short array []
    PhpCsFixer\Fixer\ArrayNotation\ArraySyntaxFixer:
        syntax: short

    # drop dead code
    - SlevomatCodingStandard\Sniffs\Classes\UnusedPrivateElementsSniff

    # drop dead use namespaces
    - PhpCsFixer\Fixer\Import\NoUnusedImportsFixer

    # and sort them A → Z
    - PhpCsFixer\Fixer\Import\OrderedImportsFixer

    # no empty doc blocks
    - PhpCsFixer\Fixer\Phpdoc\NoEmptyPhpdocFixer
