checkers:
    # no useless doc blocks
    - Symplify\CodingStandard\Fixer\Commenting\RemoveUselessDocBlockFixer

    # remove empty spaces in phpdoc
    - PhpCsFixer\Fixer\Comment\NoTrailingWhitespaceInCommentFixer

    # remove empty lines in phpdoc (be carefull, can be buggy)
    - PhpCsFixer\Fixer\Phpdoc\PhpdocTrimFixer

    # remove empty phpdocs
    - Symplify\CodingStandard\Fixer\Commenting\RemoveEmptyDocBlockFixer

    # no empty doc blocks
    - PhpCsFixer\Fixer\Phpdoc\NoEmptyPhpdocFixer
