checkers:
    # PSR-4
    - PhpCsFixer\Fixer\Basic\Psr4Fixer

    # Language Constructions
    PhpCsFixer\Fixer\ControlStructure\YodaStyleFixer:
        equal: false
        identical: false
        less_and_greater: false

    - PhpCsFixer\Fixer\Semicolon\SemicolonAfterInstructionFixer
    - PhpCsFixer\Fixer\ControlStructure\NoUselessElseFixer
    - PhpCsFixer\Fixer\Phpdoc\PhpdocReturnSelfReferenceFixer
    - PHP_CodeSniffer\Standards\Squiz\Sniffs\WhiteSpace\LanguageConstructSpacingSniff
    - PhpCsFixer\Fixer\ClassNotation\OrderedClassElementsFixer

    # Unused or Redundant Code
    - PhpCsFixer\Fixer\ReturnNotation\NoUselessReturnFixer
    - PHP_CodeSniffer\Standards\Generic\Sniffs\CodeAnalysis\EmptyStatementSniff

    # Strict Code
    - PhpCsFixer\Fixer\Strict\StrictComparisonFixer
    PhpCsFixer\Fixer\LanguageConstruct\IsNullFixer:
        use_yoda_style: false

    # PHPUnit
    - PhpCsFixer\Fixer\PhpUnit\PhpUnitStrictFixer
