checkers:
    # new methods
    PhpCsFixer\Fixer\Alias\RandomApiMigrationFixer:
        mt_rand: random_int
        rand: random_int

    # ?? operator
    - PhpCsFixer\Fixer\Operator\TernaryToNullCoalescingFixer

    # strict types
    - PhpCsFixer\Fixer\Strict\DeclareStrictTypesFixer
    - PhpCsFixer\Fixer\LanguageConstruct\DeclareEqualNormalizeFixer

    # typehints
    - PhpCsFixer\Fixer\FunctionNotation\FunctionTypehintSpaceFixer
    - PhpCsFixer\Fixer\FunctionNotation\ReturnTypeDeclarationFixer
    SlevomatCodingStandard\Sniffs\TypeHints\TypeHintDeclarationSniff:
        usefulAnnotations:
            - @todo
            - @dataProvider
        enableEachParameterAndReturnInspection: true
        enableVoidTypeHint: false
        enableNullableTypeHints: false

    # throwable
    - SlevomatCodingStandard\Sniffs\Exceptions\ReferenceThrowableOnlySniff
