checkers:
    # PHP-CS-Fixer
    PhpCsFixer\Fixer\ClassNotation\VisibilityRequiredFixer:
        - const
        - method
        - property
    - PhpCsFixer\Fixer\FunctionNotation\VoidReturnFixer
    PhpCsFixer\Fixer\ListNotation\ListSyntaxFixer:
        syntax: short

    # Typehints
    - SlevomatCodingStandard\Sniffs\TypeHints\NullableTypeForNullDefaultValueSniff
