checkers:
    # PHP-CS-Fixer only
    PhpCsFixer\Fixer\ClassNotation\VisibilityRequiredFixer:
        - const
        - method
        - property
    - PhpCsFixer\Fixer\FunctionNotation\VoidReturnFixer
    PhpCsFixer\Fixer\ListNotation\ListSyntaxFixer:
        syntax: short
