checkers:
    # PHP 5.5
    - Symplify\CodingStandard\Fixer\Php\ClassStringToClassConstantFixer

    # Strict
    - Symplify\CodingStandard\Fixer\Strict\InArrayStrictFixer

    # Imports
    - Symplify\CodingStandard\Fixer\Import\ImportNamespacedNameFixer

    # Control Structures
    - Symplify\CodingStandard\Sniffs\Property\DynamicPropertySniff
    - Symplify\CodingStandard\Fixer\Property\ArrayPropertyDefaultValueFixer
    - Symplify\CodingStandard\Fixer\ArrayNotation\StandaloneLineInMultilineArrayFixer
    - Symplify\CodingStandard\Fixer\ControlStructure\RequireFollowedByAbsolutePathFixer

    # Spaces
    - Symplify\CodingStandard\Fixer\Strict\BlankLineAfterStrictTypesFixer
    - Symplify\CodingStandard\Fixer\ClassNotation\LastPropertyAndFirstMethodSeparationFixer

    # Comments
    - Symplify\CodingStandard\Fixer\Commenting\BlockPropertyCommentFixer
    - Symplify\CodingStandard\Sniffs\Commenting\VarConstantCommentSniff
    - Symplify\CodingStandard\Fixer\Commenting\AnnotateMagicContainerGetterFixer
    - Symplify\CodingStandard\Fixer\Commenting\RemoveUselessDocBlockFixer
    - Symplify\CodingStandard\Fixer\Commenting\RemoveSuperfluousDocBlockWhitespaceFixer

    # Naming
    - Symplify\CodingStandard\Sniffs\Naming\AbstractClassNameSniff
    - Symplify\CodingStandard\Sniffs\Naming\InterfaceNameSniff
    - Symplify\CodingStandard\Sniffs\Naming\TraitNameSniff
    - Symplify\CodingStandard\Fixer\Naming\ExceptionNameFixer
    - Symplify\CodingStandard\Fixer\Naming\MagicMethodsNamingFixer
    - Symplify\CodingStandard\Fixer\Naming\PropertyNameMatchingTypeFixer

    # Architecture
    - Symplify\CodingStandard\Fixer\Solid\FinalInterfaceFixer
    - Symplify\CodingStandard\Sniffs\DependencyInjection\NoClassInstantiationSniff
    - Symplify\CodingStandard\Sniffs\Architecture\ExplicitExceptionSniff

    # Debug
    - Symplify\CodingStandard\Sniffs\Debug\DebugFunctionCallSniff
    - Symplify\CodingStandard\Sniffs\Debug\CommentedOutCodeSniff
