checkers:
    - Symplify\CodingStandard\Fixer\Php\ClassStringToClassConstantFixer
    - Symplify\CodingStandard\Sniffs\Debug\DebugFunctionCallSniff
    - Symplify\CodingStandard\Sniffs\Property\DynamicPropertySniff

    # Imports
    - Symplify\CodingStandard\Fixer\Import\ImportNamespacedNameFixer

    # Control Structures
    - Symplify\CodingStandard\Fixer\Property\ArrayPropertyDefaultValueFixer
    - Symplify\CodingStandard\Fixer\ArrayNotation\StandaloneLineInMultilineArrayFixer
    - Symplify\CodingStandard\Fixer\ControlStructure\RequireFollowedByAbsolutePathFixer

    # Spaces
    - Symplify\CodingStandard\Fixer\ClassNotation\PropertyAndConstantSeparationFixer
    - Symplify\CodingStandard\Fixer\ClassNotation\LastPropertyAndFirstMethodSeparationFixer

    # Comments
    - Symplify\CodingStandard\Fixer\Commenting\BlockPropertyCommentFixer
    - Symplify\CodingStandard\Sniffs\Commenting\VarConstantCommentSniff
    - Symplify\CodingStandard\Sniffs\Debug\CommentedOutCodeSniff
    - Symplify\CodingStandard\Fixer\Commenting\AnnotateMagicContainerGetterFixer
    - Symplify\CodingStandard\Fixer\Commenting\RemoveUselessDocBlockFixer

    # Naming
    - Symplify\CodingStandard\Sniffs\Naming\AbstractClassNameSniff
    - Symplify\CodingStandard\Sniffs\Naming\InterfaceNameSniff
    - Symplify\CodingStandard\Sniffs\Naming\TraitNameSniff
    - Symplify\CodingStandard\Fixer\Naming\MagicMethodsNamingFixer
    - Symplify\CodingStandard\Fixer\Naming\PropertyNameMatchingTypeFixer

    # Architecture
    - Symplify\CodingStandard\Sniffs\Classes\EqualInterfaceImplementationSniff
    - Symplify\CodingStandard\Sniffs\Classes\FinalInterfaceSniff
    - Symplify\CodingStandard\Sniffs\DependencyInjection\NoClassInstantiationSniff
