checkers:
    # $value == 5;   =>   $value === 5;
    - PhpCsFixer\Fixer\Strict\StrictComparisonFixer

    # is_null($value);   =>   $value === null;
    PhpCsFixer\Fixer\LanguageConstruct\IsNullFixer:
        use_yoda_style: false

    # $this->assertEquals()    =>    $this->assertSame()
    - PhpCsFixer\Fixer\PhpUnit\PhpUnitStrictFixer
