services:
    # Console & Commands
    - Symfony\Component\Console\Application
    - Symplify\EasyCodingStandard\Console\Command\RunCommand

    # Symfony Output style
    - Symfony\Component\Console\Input\ArgvInput
    - Symfony\Component\Console\Output\ConsoleOutput
    - Symplify\EasyCodingStandard\Console\Style\StyleFactory
    -
        factory: [@Symplify\EasyCodingStandard\Console\Style\StyleFactory, "create"]

    # Reporting
    - Symplify\EasyCodingStandard\Console\Output\InfoMessagePrinter
