name: Along with Symfony Deprecations

on:
    push:
        tags:
            - '*.72'

jobs:
    bare_run:
        runs-on: ubuntu-latest

        steps:
            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: 8.1
                    coverage: none

            -   run: composer require symplify/easy-coding-standard

            -   run: composer require symfony/deprecation-contracts

            -   run: vendor/bin/ecs init --ansi --debug
