name: Bare Run on various PHP versions

on:
    push:
        branches:
            - main

jobs:
    bare_run:
        runs-on: ubuntu-latest

        strategy:
            fail-fast: false
            matrix:
                php_version: ['7.2', '7.3', '7.4', '8.0', '8.1', '8.2', '8.3']

        steps:
            -   uses: actions/checkout@v3

            -
                uses: shivammathur/setup-php@v2
                with:
                    php-version: ${{ matrix.php_version }}
                    coverage: none

            -   run: mkdir nested-dir

            -   run: composer require symplify/easy-coding-standard --dev --ansi
                working-directory: nested-dir

            -   run: vendor/bin/ecs list --ansi
                working-directory: nested-dir
