name: Downgraded Release

on:
    push:
        tags:
            - '*'

env:
    # see https://github.com/composer/composer/issues/9368#issuecomment-718112361
    COMPOSER_ROOT_VERSION: "dev-main"


jobs:
    downgrade_release:
        runs-on: ubuntu-latest

        steps:
            -   uses: "actions/checkout@v2"
                with:
                    token: ${{ secrets.WORKFLOWS_TOKEN }}

            -
                uses: "shivammathur/setup-php@v2"
                with:
                    php-version: 8.1
                    coverage: none

            # invoke patches
            -   run: composer install

            # but no dev packages
            -   run: composer update --no-dev

            # build scoped code
            -   run: sh prefix-code.sh

            # get rector to "rector-local" directory, to avoid downgrading itself in the /vendor
            -   run: mkdir rector-local
            -   run: composer require rector/rector --working-dir rector-local

            # downgrade to PHP 7.2
            -   run: rector-local/vendor/bin/rector process bin src packages vendor --config build/rector-downgrade-php-72.php --ansi

            # fix coding standard, so code looks nice
            -   run: bin/ecs check src packages --fix --ansi

            # clear the dev files
            -   run: rm -rf "tests packages-tests ecs.php phpstan.neon phpunit.xml .gitignore"

            # prefix and scope
            -   run: sh prefix-code.sh

            # copy PHP 7.2 composer + workflows
            -   run: cp build/target-repository/.gitignore .gitignore
            -   run: cp build/target-repository/bootstrap.php bootstrap.php
            -   run: cp build/target-repository/composer.json composer.json
            -   run: cp build/target-repository/preload.php preload.php
            -   run: git status

            # setup git user
            -
                run: |
                    git config user.email "action@github.com"
                    git config user.name "GitHub Action"

            # publish to the same repository with a new tag
            # see https://tomasvotruba.com/blog/how-to-release-php-81-and-72-package-in-the-same-repository/
            -
                name: "Tag Downgraded Code"
                run: |
                    git commit -a -m "release PHP 7.2 downgraded"
                    git tag "${GITHUB_REF#refs/tags/}.72"
                    git push origin "${GITHUB_REF#refs/tags/}.72"
